.table {
  border: 1px solid #eee;
  table-layout: fixed;
  width: 98%;
  margin: 0 auto 20px;
  /* margin-bottom: 20px; */
}

.table th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}

.table th:first-child {
  width: 30%;
}

.table td {
  padding: 5px 10px;
  border: 1px solid #eee;
  text-align: left;
}
.table tbody tr:nth-child(odd) {
  background: #fff;
}
.table tbody tr:nth-child(even) {
  background: #f7f7f7;
}
.highlight {
  color: rgb(0, 60, 255);
  font-weight: bold;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
